NODE_ENV="development"
REACT_APP_ENV="development"

PG_DATABASE="insert_database"
PG_USER="insert_user"
PG_PASSWORD="insert_password"

TEST_DB_URL="postgresql://username:password@host:port/database"
DB_URL="postgresql://username:password@host:port/database"
DATABASE_URL="postgresql://username:password@host:port/database"

SECRET="insert_custom_jwt_secret_here"